<!DOCTYPE html>
<html style="-webkit-font-smoothing: auto; font-size: 0.875em; line-height: 1.6; font-family: sans-serif;" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Link additions {% if user_query %} by {% else %} for {% endif %} {{query}}</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bulma/0.9.4/css/bulma.min.css">
</head>

<body>
<style>
        a.external {
            background-image: url(https://meta.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/link-external-small-ltr-progressive.svg?30a3a);
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 0.857em;
            padding-right: 1em
        }
        a.stillpresent {
            color: red;
        }
        code.pattern {
            color: unset;
            font-size: unset;
            font-weight: unset;
        }
</style>

<section class="section">
    <div class="container">
        <div class="content">
            <h1>
                Check results for {% if user_query %} by {% else %} for {% endif %} <em>{{query}}</em>
            </h1>
            <p>
                Data collected since November 2023.
                {% match receive_backlogged %}
                {% when Some with (d) %}
                    <br><span style="color: red;">Event intake backlogged: {{ d|human_readable_duration }}. The latest additions are not shown.</span>
                {% else %}
                {% endmatch %}
            </p>
            {% if !user_query %}
                <h3>SBLs and Blocked External Domains</h3>
                {% if sbl_hits.is_empty() %}
                <p>No hits for <em>https://{{query}}</em>.</p>
                {% endif %}
                <ul>
                {% for h in sbl_hits %}
                <li>
                    {% let url = h.source_url() %}
                    {% match h %}
                        {% when sbl::Hit::GlobalSpamBlacklist with { pattern, line_no } %}
                            <em>https://{{query}}</em> matches <code class="pattern">{{pattern}}</code> on the <a href="{{url}}">global spam blacklist</a>.
                            {% when sbl::Hit::SpamBlacklist with { wiki_domain, pattern, line_no } %}
                            <em>https://{{query}}</em> matches <code class="pattern">{{pattern}}</code> on the <em>{{wiki_domain}}</em> <a href="{{url}}">spam blacklist</a>.
                            {% when sbl::Hit::SpamWhitelist with { wiki_domain, pattern, line_no } %}
                            <em>https://{{query}}</em> matches <code class="pattern">{{pattern}}</code> on the <em>{{wiki_domain}}</em>  <a href="{{url}}">spam <strong>whitelist</strong></a>.
                            {% when sbl::Hit::BlockedExternalDomain with { wiki_domain, blocked_domain, notes, added_by } %}
                            <em>{{query}}</em> is blocked on <em>{{wiki_domain}}</em> via <a href="{{url}}">Special:BlockedExternalDomains</a>.
                        {% else %}
                    {% endmatch %}
                </li>
                {% endfor %}
                </ul>
            {% endif %}
            <h3>Link additions</h3>
            {% if revision_links.is_empty() %}
                <p>No link additions found.</p>
            {% endif %}
            {% for (section, group) in revision_links %}
                <h4>{{ section }}</h4>
                <ul>
                    {% for rl in group %}
                    <li>
                        (<a href="https://{{ rl.domain }}/w/index.php?diff={{ rl.revision }}">diff</a> |
                        <a href="https://{{ rl.domain }}/w/index.php?title={{ rl.page_title|urlencode }}&action=history">hist</a>)
                        {{ rl.timestamp|mediawiki_date }}
                        .. {{ rl.domain }}
                        ..
                        <bdi>
                            {% if rl.page_deleted %}
                                <span style="color: red;">{{ rl.page_title|underscore_to_space }}</span>
                            {% else %}
                                <a href="https://{{ rl.domain }}/wiki/{{ rl.page_title|urlencode }}">{{ rl.page_title|underscore_to_space }}</a>
                            {% endif %}
                        </bdi>
                        ..
                            {% match rl.user %}
                            {% when crate::db::User::Other with (val) %}
                                <bdi>{{ val }}</bdi>
                            {% when crate::db::User::Global with (val) %}
                                <bdi><a href="https://{{ rl.domain }}/wiki/Special:Contributions/{{ val|space_to_underscore|urlencode }}">{{ val }}</a></bdi>
                                (<a href="{{ site }}/by-user?q={{ rl.user|queryencode }}">check</a> |
                                <a href="https://guc.toolforge.org/?by=date&user={{ val|queryencode }}">GUC</a> |
                                <a href="https://meta.wikimedia.org/wiki/Special:CentralAuth/{{ val|space_to_underscore|urlencode }}">CA</a>)
                            {% else %}
                                <a href="https://{{ rl.domain }}/wiki/Special:Contributions/{{ rl.user|urlencode }}">{{ rl.user }}</a>
                                (<a href="{{ site }}/by-user?q={{ rl.user|queryencode }}">check</a> |
                                <a href="https://guc.toolforge.org/?by=date&user={{ rl.user|queryencode }}">GUC</a> |
                                <a href="https://bullseye.toolforge.org/ip/{{ rl.user|queryencode }}">bullseye</a>)
                            {% endmatch %}
                        </bdi>
                        {% if rl.new_page -%}
                        <b>N</b>
                        {%- endif -%}
                        {% if rl.minor_edit -%}
                        <b>m</b>
                        {%- endif -%}
                        {% if rl.bot -%}
                        <b>b</b>
                        {%- endif %}
                        {% if rl.reverted %}
                        <em>reverted</em>
                        {% endif %}
                        {% if verbose_links %}
                            <ul>
                            {% for aurl in rl.urls.iter() %}
                                <li>
                                <a class="external {% if !aurl.still_present %} stillpresent {% endif %}" href="{{ aurl.url }}" target="_blank">{{ aurl.url }}</a>
                                (<a href="{{ site }}/by-domain?q={{ aurl.domain|queryencode }}">check domain</a>)
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            ..
                            {% for aurl in rl.urls.iter() %}
                                <a class="external {% if !aurl.still_present %} stillpresent {% endif %}" href="{{ aurl.url }}" target="_blank">[{{ loop.index }}]</a>
                            {% endfor %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <hr/>
        <div class="block has-text-centered">
            <p class="mt-5">
                <span style="color: red;">ALPHA VERSION</span>.
                Author: <a href="https://meta.wikimedia.org/wiki/User:Count_Count">Count Count</a>.
                Source available
                under GPL-3.0 on <a href="https://gitlab.wikimedia.org/countcount/xlinks">WMF Gitlab</a>.
            </p>
        </div>
    </div>
</section>
</body>

</html>
